<p id="notice"><%= notice %></p>

<p>
  <strong>Namep:</strong>
  <%= @producer.nameP %>
</p>

<p>
  <strong>Natunal:</strong>
  <%= @producer.natunal %>
</p>

<%= link_to 'Edit', edit_producer_path(@producer) %> |
<%= link_to 'Back', producers_path %>
